
:root {
  --blur: 20.0px;

  --border-width: 1.0px;
  --border-opacity: 0.10;
  --border: var(--border-width) solid rgba(255, 255, 255, var(--border-opacity));
  --bg-image: url("https://iphonewallpaperworld.com/wp-content/uploads/2020/03/desktop-wallpaper-18-1536x864.jpg");
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Blur                     ║ Titlebar                                                                                ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

.titleBar-1it3bQ::before {
  backdrop-filter: blur(var(--blur));
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Blur                     ║ Content                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Background */
.messagesWrapper-RpOMA3 {
  background: transparent !important;
  background-image: var(--bg-image);
}

/* Blur */
.messagesWrapper-RpOMA3::before {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: absolute;
  content: "";
  backdrop-filter: blur(var(--blur));
  height: 100%;
  width: 100%;
  z-index: -1;
  border: var(--border);
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Blur                     ║ Members                                                                                 ║ */ 
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* Background */
.container-NkLXgf,
.container-2o3qEW {
background: transparent;
}

/* Blur */
.membersWrap-3NUR2t::before {
  background: var(--background-secondary);
  border-radius: var(--radius-primary);
  position: absolute;
  content: "";
  backdrop-filter: blur(var(--blur));
  height: 100%;
  width: 100%;
  border: var(--border);
}

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */
/* ║ Blur                     ║ Sidebar                                                                                 ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */

/* ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗ */ 
/* ║ Blur                     ║ Panel                                                                                   ║ */
/* ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝ */
